<a href="https://colab.research.google.com/github/yesyell/DA_School_1/blob/main/Python%20%EC%8B%AC%ED%99%94/snack_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## f-string의 이중 중괄호

In [ ]:
숫자 = 10
자릿수 = 10
f'{숫자:>{자릿수}}'

In [ ]:
f'{숫자:0{자릿수}d}'

In [ ]:
원주율 = 3.141592
소수점 = 3
f'{원주율:.{소수점}f}'

## 왈러스 연산자

In [ ]:
value = 10
(value := value + 1) # 왈러스

In [ ]:
(value := value + 1)

In [ ]:
count = 0
while (count := count + 1) < 10:
    print(count)

In [ ]:
count = 0
result = 0
while (count := count + 1) < 101:
    result += count
result

In [ ]:
def 시그마(n):
    count = 0
    result = 0
    while (count := count + 1) < n + 1:
        result += count
    return result

if 합 := 시그마(100):
    print(합)
else:
    print('1부터 정수형태로 입력이 가능합니다.')

## 딕셔너리 KeyError 처리

In [ ]:
def 요일구하기(요일):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
        4: '목요일',
        5: '금요일',
        6: '토요일',
    }.get(요일, '요일없음')

요일구하기(3)

## 리스트 append와 리스트컴프리헨션 성능 비교

In [ ]:
import dis

def 테스트():
    x = [i for i in range(10)]
    return x
    
dis.dis(테스트)

In [ ]:
import dis

def 테스트():
    x = []
    for i in range(10):
        x.append(i)
    return x
    
dis.dis(테스트)

In [ ]:
%%timeit

def 테스트(n):
    s = []
    for i in range(n+1):
        i = i**2
        s.append(i)
    return sum(s)

테스트(1000000)

In [ ]:
%%timeit

def 테스트(n):
    s = [i**2 for i in range(n+1)]
    return sum(s)

테스트(1000000)

## sorted의 key 응용

In [ ]:
sorted({1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'})

In [ ]:
sorted("This is a test string from Andrew".split(), key = str.lower)

In [ ]:
student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10)
]

sorted(student_tuples, key = lambda student: student[2])

In [ ]:
class Student:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    def __repr__(self):
        return repr((self.name, self.grade, self.age))

In [ ]:
student_objects = [
    Student('john', 'A', 15),
    Student('jane', 'B', 12),
    Student('dave', 'B', 10)
]

sorted(student_objects, key = lambda student: student.age)

In [ ]:
from operator import itemgetter, attrgetter

sorted(student_tuples, key = itemgetter(2))

In [ ]:
sorted(student_objects, key = attrgetter('age'))
sorted(student_tuples, key = itemgetter(1, 2)) # 다중순회 허용 
sorted(student_objects, key = attrgetter('grade', 'age'))

In [ ]:
sorted(student_tuples, key = itemgetter(2), reverse = True)

In [ ]:
test = ['a', 'aaa', 'bb', 'cccc']

sorted(test, key = len)

In [ ]:
test = [(30, 20, 10), (10, 100, 90), (90, 90, 90), (50, 20, 30), (10, 20, 10)]

sorted(test)
sorted(test, key = lambda x: x[0])
sorted(test, key = lambda x: sum(x))

In [ ]:
test = [10, 2, 1, 2, 9, 3, 0, 5, 5, 5, 6, 9, 3, 11, 22]
우선순위그룹 = [0, 1, 11, 111]

def 우선순위판별(값):
    if 값 in 우선순위그룹:
        return (False, 값)
    return (True, 값)

# sorted(test, key = 우선순위판별)
# sorted(test, key = lambda x: False if x in 우선순위그룹 else True)
sorted(test, key = lambda x: (False, x) if x in 우선순위그룹 else (True, x))

## 타입 힌트(type annotation)
- python은 변수의 타입이 실행 시점에 결정되는 언어(동적 프로그래밍 언어)
- C와 JAVA는 변수를 선언할 때 반드시 타입을 명시, 컴파일 시점에 변수의 타입이 결정(정적 프로그래밍 언어)
- mypy 모듈을 사용하면 타입힌트에 오류가 있는지 확인할 수 있음

In [ ]:
number = 1

def greeting(name):
    return 'Hello, ' + name

In [ ]:
number: int = 1
name: str = '홍길동'
arr: list = ['a', 'b', 'c']

def greeting(name: str) -> str:
    return 'Hello, ' + name

In [ ]:
import typing

arr: typing.List[int] = [1, 2, 3]
alpha: typing.Tuple[str, str, str] = ('a', 'b', 'c')
student: typing.Dict[str, int] = {'홍길동': 1, '춘향': 2}

In [ ]:
number: int = '123'     # 힌트로 명시하는 것일 뿐, 에러를 발생시키지 않음

## sum을 활용한 개별 요소 합치기

In [ ]:
li = [['a', 'b', 'c'], [1, 2, 3], ['x', 'y', 'z']]
sum(li, [])

In [ ]:
tu = (('a', 'b', 'c'), (1, 2, 3), ('x', 'y', 'z'))
sum(tu, ())

In [ ]:
dic = {1:'one', 2:'two'}
sum(dic, 5)

In [ ]:
import numpy as np

data = [[0,1,2],
        [3,4,5],
        [6,7,8]]

print(np.sum(data))    # sum(sum(data, []))
print(np.sum(data, axis = 0))
print(np.sum(data, axis = 1))

## 제너레이터를 활용한 특정 값 무한 반복자 만들기

In [ ]:
def range_1_to_4():
    yield 1
    yield 2
    yield 3

for i in range_1_to_4():
    print(i)

In [ ]:
range_1_to_4()

In [ ]:
g = range_1_to_4()
next(g)

In [ ]:
g = (i for i in range(1, 4))
g

In [ ]:
for i in g:
    print(i)

In [ ]:
def repeat(i):
    if i:
        while True:
            for i1 in i:
                yield i1
list(zip('111222333', repeat([1,2])))

In [ ]:
list(zip(range(10), repeat('abc')))

## 딕셔너리 언패킹

In [ ]:
test = {'one': 100, 'two': 200}

a, b = test
print(a, b)

In [ ]:
test = [{'one': 100, 'two': 200}, {'three': 300, 'four': 400}]

for i, j in test:
    print(i, j)

In [ ]:
a, b = b, a
print(a, b)

In [ ]:
def unpacking(a, b):
    return a, b

test = {'a': 100, 'b': 200}

print(unpacking(*test))
print(unpacking(**test))

In [ ]:
def unpacking(a, b=None):
    return a, b

test = {'a': 100, 'b': 200}

print(unpacking(test))

## 파이썬의 선과 PEP8

In [ ]:
import this

# Explicit is better than implicit.
# Special cases aren't special enough to break the rules.
# Errors should never pass silently.

PEP8 요약
- 스페이스 4번(탭X)
- 라인 길이는 79자 이하(한글일 때에는 32자 정도)
- 파일: 함수와 클래스 사이에는 2줄의 빈줄
- 클래스: 메서드 사이에는 1줄의 빈줄
- 변수 대입에서 등호 양 옆에 스페이스 1개
- 딕셔너리에 키와 콜론 사이에는 공백X, 값과 클론은 스페이스 1개
- 변수명은 스네이크 표기법 권장
- 클래스명은 카멜 표기법 권장
- 보호해야 하는 인스턴스의 애트리뷰트는 언더바 두개로 시작
- 조건문 안에 'len(컨테이너)==0'식으로 사용X 'if 컨테이너' 권장
- 소스검사기: 파이린트, 파이플레이크
- 한 줄의 import문에서는 하나의 모듈만 가져오기