<a href="https://colab.research.google.com/github/yesyell/DA_School_1/blob/main/Python%20%EC%8B%AC%ED%99%94/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%8A%A4%EC%BF%A8_0509.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 패킹과 언패킹

- 패킹: 여러 개의 데이터를 컬렉션(리스트, 튜플, 딕셔너리)으로 묶어 변수에 대입
- 언패킹: 컬렉션 속의 요소들을 여러 개의 변수에 나누어 대입

In [ ]:
numbers = (1, 2, 3, 4, 5)   # 패킹
a, b, c, d, e = numbers     # 언패킹 - 변수의 개수와 요소의 개수가 일치해야 함

In [ ]:
# 불필요한 값을 언더바를 사용하여 생략할 수 있음
a, _, _, d, e = numbers     # 필요 없는 요소를 _ 변수에 대입

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)

In [ ]:
# * 의 목적
# 1) 남은 요소를 모두 대입하기 위함
# 2) 오류가 나지 않게 하기 위함
def sum_def(*arg):
  return sum(arg)

sum_def(1,2,3,4)

In [ ]:
# 변수 내에서 설명 - 남은 요소 대입받기
# 언패킹 시, 좌변의 변수 중 하나에 별 기호(*)를 붙이면, 남은 요소 전체를 리스트에 담아 대입한다.
numbers = (1, 2, 3, 4, 5)

a, b, *rest = numbers     # 1, 2를 제외한 나머지를 rest에 대입
print(a, b, rest)
# 1 2 [3, 4, 5]

a, *rest, e = numbers     # 1, 5를 제외한 나머지를 rest에 대입
print(rest)
# [2, 3, 4]

In [ ]:
# 위치 인자와 언패킹 사용하기
# 위치 인자(positional argument): 함수에 인자를 순서대로 넣는 방식. 변수를 할당 받을때 일반적으로 사용.
# 순서가 중요한 함수인 경우에는 위치 인자를 사용할때 주의 해야 함.(머신러닝, 딥러닝)

x = [10, 20, 30]
print(x)
print(*x)   # 변수에 * 을 사용할 때는 리스트, 튜플, 딕셔너리가 언패킹됨

In [ ]:
def print_numbers(*args):
    print(args)
    for arg in args:
        print(arg)

print_numbers(1,2,3,4)
print_numbers(*[1,2,3,4])

In [ ]:
# 위치 인자 (non-default)
# 위치 인자 (default)
# / (위치 인자들 어딘가에 존재한다)
# 위치 가변 인자 (*args)
# 키워드 전용 인자 (기본값 유무는 상관 없다)
# 키워드 전용 가변 인자 (**kwargs)

x = [10]
print_numbers(x)
print_numbers(*x)   # print_numbers(10)

In [ ]:
# 키워드 인자 사용하기 딕셔너리 패킹

# 키워드 인자: 매개변수에 이름으로 일치시키는 인자
# 함수를 호출할 때 인자의 값 뿐만 아니라 그 이름까지 명시적으로 지정해서 전달하는 방식
# 인자의 순서와 용도를 매번 기억하지 않아도 되서 편리함 -> 키워드를 알아야 하므로 불편함

def personal_info(name, age, address):
    print('이름:', name)
    print('나이:', age)
    print('주소:', address)

personal_info(name='홍길동', 
              age=30, 
              address='경기도 시흥시')

In [ ]:
x = {'name': '홍길동', 'age': 30, 'address': '경기도 시흥시'}
personal_info(**x)  # 변수에 **를 붙이면 딕셔너리 형태가 언패킹된다.

In [ ]:
# 키워드 가변인자(**kwargs) 만들기
# 키워드 인자와 딕셔너리 언패킹의 개념은 키워드 가변인자함수를 만들때 사용한다.

# 자료 형이 딕셔너리 일때
def personal_info(**kwargs):
    print(kwargs)
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')
        
# 값을 한 개 넣어도 되고, 세 개 넣어도 됩니다.
personal_info(name='홍길동')
personal_info(name='홍길동', age=30, address='경기도 시흥시')

In [ ]:
x = {'name': '홍길동'}
personal_info(**x)

y = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**y)

In [ ]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
        
personal_info(name='홍길동', 
              age=30, 
              address='경기도 시흥시')

In [ ]:
# 예제 1.

# arg_printer(a=4, 2, 4, 5)

# python은 위치인수 뒤에 키워드인수가 오게 됩니다. 
# 함수를 호출할때는 이점을 염두에 두어야합니다.
# 다음과 같이 사용하면 에러가 나게 됩니다. 
# SyntaxError: positional argument follows keyword argument

In [ ]:
# 예제 2.
# 결론적으로 *args 및 *kwargs 를 사용하여 변수를 패킹할 수 있습니다.
def arg_printer(*args): # 패킹
  print(args)

l = [1,4,5]
arg_printer(*l) # 언패킹
# 영어의 2중 부정과 동일하고 자료형태는 튜플로 변경

# 예제 3.
lst = [1,4,5]
tpl = ('a','b', 4)

arg_printer(*lst, *tpl, 5, 6)

In [ ]:
# 예제 4. 다음과 같이 사용하면 언패킹 되었다가 다시 패킹되는 형태로 변경된다.
def arg_printer(**kwargs):
   print(kwargs)

dct = {'param1':5, 'param2':8}
arg_printer(**dct)

# 예제 5. 
# 또한 추가 키워드 인수를 사전과 함께 전달하면 결합되어 kwargs 딕셔너리에 저장됩니다.
dct = {'param1':5, 'param2':8} 
arg_printer(param3=9, **dct)

함수에는 위치 인수(값으로만 선언됨)와 키워드 인수(이름과 기본값으로 선언됨)인 
두 가지 유형의 인수가 있습니다.

함수가 호출될 때 위치 인수에 대한 값이 제공되어야 합니다. 
키워드 인수는 선택 사항입니다(지정하지 않으면 기본값을 사용함).

함수 내에서의 *args는 명시적으로 정의되지 않은 위치 인수를 수집하여 튜플에 저장합니다.

함수 내에서의 **kwargs는 *args와 동일하지만 키워드 인수에 대해 수행합니다. 
키워드 인수는 이름-값 쌍으로 저장되기 때문에 딕셔너리에 저장됩니다.

Python은 위치 인수가 키워드 인수를 따르는 것을 허용하지 않습니다. 
따라서 먼저 위치 인수를 선언한 다음 키워드 인수를 선언합니다.

## 연습

In [ ]:
# 연습 문제 1. - 두개 이상의 숫자를 합산하는 함수 - *arg 사용

def addition(*arg):
    return sum(arg)
print(addition(3,4,6))

In [ ]:
# 연습문제 2. 다음 코드를 실행했을때의 빈칸과 값을 구하시오

def arg_printer(a, b, *args):
    print(f'a is {a}')
    print(f'b is {b}')
    print(f'args are {args}')
arg_printer(3, 4, 5, 8, 3)

# *args / a is 3 / b is 4 / args are (5,8,3)

In [ ]:
# 연습문제 3. option이 True일때와 False일때의 값을 구하시오

def addition(a, b, *args, option=True):
    result = 0
    if option:
        for i in args:
            result += i
        return a + b + result
    else:
        return result

print(addition(1,4,5,6,7))
# True: 23 / False: 0

In [ ]:
# 연습문제 4. 

def arg_printer(a, b, option=True, **kwargs): 
    print(a, b) 
    print(option) 
    print(kwargs)
arg_printer(3, 4, param1=5, param2=6)

In [ ]:
# 연습문제 5

def arg_printer(a, b, *args, option=True, **kwargs): 
    print(a, b) 
    print(args) 
    print(option) 
    print(kwargs)
arg_printer(1, 4, 6, 5, param1=5, param2=6)

In [ ]:
# 에러 해결
def func_param_with_var_args(name, age, *args):
    print("name=",end=""), print(name)
    print("age=",end=""), print(age)
    print("args=",end=""), print(args)

func_param_with_var_args("정우성", 20, "01012341234", "seoul")

In [ ]:
def func_param_with_kwargs(name, age, address, **kwargs):
    print("name=",end=""), print(name)
    print("age=",end=""), print(age)
    print("kwargs=",end=""), print(kwargs)
    print("address=",end=""), print(address)

func_param_with_kwargs("정우성", "20", mobile="01012341234", address="seoul")

In [ ]:
def mixed_params(age, name="아이유", *args, address, **kwargs):
    print("name=",end=""), print(name)
    print("args=",end=""), print(args)
    print("age=",end=""), print(age)
    print("kwargs=",end=""), print(kwargs)
    print("address=",end=""), print(address)

mixed_params(20, "정우성", "01012341234", "male", 
             mobile="01012341234", address="seoul")

# csv 파일

In [ ]:
import csv
import os

# 함수화 하기
def opencsv(filename):
    f = open(filename, 'r')
    reader = csv.reader(f)
    output = []
    for i in reader:
        output.append(i)
    return output
    
os.chdir('/content/')   # 경로 지정
total = opencsv('seoul.csv')

In [ ]:
# 상위 5개 파일 불러오기 head()
for i in total[:5]:
    print(i)

In [ ]:
# 문자형을 실수형으로 바꿀때 ,가 있으면 에러가 납니다.
# float('123,456')

import re
j = '123,456'
# substring -> 슬라이싱 (sub = 대체) 
float(re.sub(',', '', j))   # float(j.replace(',', ''))

In [ ]:
# 정규표현식
# 리스트안에 숫자가 1개라도 있으면 ',' -> ''으로 변경

i = ['Jongrogu', '151,767', '11,093', '27,394']
k = []
for j in i:
    if re.search('\d', j):  # j에서 숫자형을 찾았다면
        k.append(int(re.sub(',' , '', j))) 
    else:
        k.append(j)    
print(k)

In [ ]:
# 만약 문자/숫자/특수문자가 섞여있다면?
# 데이터가 밀리는 경우는 부지기수.

p = ['123강남구@@', '456종로구!!', '11,093', '27,394',]
k = []
for j in p:
    if re.search('[a-z가-힣!@]', j):    # j에서 소문자 알파멧/한글 문자/특수문자를 찾았다면 
        k.append(j)
    else:   # elif re.search('\d', j):
        k.append(float(re.sub(',' , '', j))) 
print(k)

In [ ]:
# 예외처리 : try - except 
# try 실행해보고, 오류가 나면 except를 실행해라
# 많은 데이터를 처리할 수 있는 함수 만들기

def switch(listname):
    for i in listname:  # 이중 리스트 안에 있는 리스트 1개를 가져오고
        # print(i)
        for j in i:     # 리스트에 있는 요소를 받아와서
            # print(j)
            try:    # 여기 해당되는건 바꾸고 (, 문자형을 숫자형으로)
                i[i.index(j)] = float(re.sub(',','',j))
            except: # 해당되지 않으면 바꾸지 말아라(숫자가 없는 문자형은 넘어가라)
                pass
    return listname

In [ ]:
import os
import re
import csv

# 경로 불러오기 (재지정)
os.chdir('/content/')
# csv데이터 불러오기
total = opencsv('seoul.csv')

sample = switch(total)
print(sample[:3])

In [ ]:
# 첫번째 행(제목 지정하기)

title = [['구', '한국인', '외국인', '외국인 비율(%)']]
i = total[2]
title.append([i[0], i[1], i[2], i[3]])
print(title)

In [ ]:
# 반복작업 각 구의 외국인 비율 구하기
# 외국인 숫자 / 한국인 숫자 = 외국인 비율
# 100/1000 -> 0.1 * -> 10% 

for i in sample:
    foreign = 0
    try:
        foreign = round(i[2] / (i[1]+i[2]) * 100, 1)
        print(i[0], foreign)
    except:
        pass

In [ ]:
# 외국인 비율 3% 이상인 대상만 추출

for i in sample:
    foreign = 0
    try:
        foreign = round(i[2] / (i[1]+i[2]) * 100, 1)
        if foreign >= 3:
            print(i[0], foreign)
    except:
        pass

In [ ]:
# 새로운 csv 파일 생성 외국인 비율 3% 이상인 것만
new_file = [['행정구역', '한국인', '외국인', '외국인 비율(%)']]

for i in sample:
    foreign = 0
    try:
        foreign = round(i[2] / (i[1]+i[2]) * 100, 1)
        if foreign >= 3:
            new_file.append([i[0], i[1], i[2], foreign])
    except:
        pass
print(new_file)

In [ ]:
# 함수화 하기
# csv를 넣지 않아도 생성은 된다.

def writecsv(filename, the_list):
    with open(filename, 'w', newline = '') as f:
        a = csv.writer(f, delimiter = ',')
        a.writerows(the_list)

writecsv('seoul_new.csv', new_file)

In [ ]:
# 부동산 
import os
import re
import csv

total = opencsv('data_school_utf8.csv')  
apt = switch(total)

apt[0]

In [ ]:
# 강원도에 120M2 이상 3억원 이하 아파트 검색하기
for i in apt:
    try:
        if i[5] > 120 and i[8] <= 30000 and re.match('강원', i[0]):
            print(i[0], i[5], i[8])
    except:
        pass

In [ ]:
# 임장가기 위해서 프린트 
# CSV파일로 내보내기

new_apt_list = [['시군구', '단지명', '면적', '금액']]

for i in apt:
    try:
        if i[5] > 100 and i[8] <= 100000 and re.match('경기도 평택시', i[0]):
            new_apt_list.append([i[0], i[4], i[5], i[8]])
    except:
        pass

writecsv('new_apt_list.csv', new_apt_list)

In [ ]:
# 기온 데이터

f = open('CSV_example2_data.csv')
data = csv.reader(f, delimiter=',')
f.close()

# temp = switch(opencsv('CSV_example2_data.csv'))

In [ ]:
# 가장 더웠던 날 구하기!!

f = open('CSV_example2_data.csv')
data = csv.reader(f)

# 헤더의 정보를 빼고 출력하기
# next() : 첫번째 데이터 행을 읽어오면서 데이터의 탐색위치를 다음행으로 이동시키는 명령어
header = next(data)    
# print(header)

max_temp = 0

for row in data:
    row[4] = float(row[4])  # 문자형 데이터를 숫자형으로
    if max_temp < row[4]:
        max_temp = row[4]   # 최고기온 
        max_data = row[0]   # 날짜
f.close()

print(max_temp, max_data)

In [ ]:
# 인구 데이터

test_dataset = open("/content/example_4_each.csv")

years = []  # 년도 리스트
populations = []    # 인구수 리스트

for line in test_dataset: 
    (year, population) = line.split(',')
    if year != "구분":   
        years.append(int(year))
        populations.append(int(population))

test_dataset.close() 

print(years)
print(populations)

# Matplotlib

In [ ]:
# 기본 그래프 그리기
import matplotlib.pyplot as plt

# 그래프를 그릴 도화지 준비하기
fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)

plt.title('plotting')   # 그래프의 타이틀
plt.plot([10,20,30,40])
plt.show()

In [ ]:
# 첫번째 리스트가 x축 두번째 리스트가 y축
plt.plot([1,2,3,4], [12,43,25,15]) 
plt.show()

In [ ]:
# 범례 지정
plt.title('legend')
plt.plot([10,20,30,40], label = 'asc') # 상승라인은 asc로 지정
plt.plot([40,30,20,10], label = 'desc') # 하강라인은 desc로 지정
plt.legend() # 범례표시 호출
plt.show()

In [ ]:
# 그래프 컬러 지정 
plt.title('color')
plt.plot([10,20,30,40], color = 'skyblue', label = 'skyblue')
plt.plot([40,30,20,10], 'pink', label = 'pink')
plt.legend()
plt.show()

In [ ]:
# 라인 스타일 변경
plt.title('linestyle')
plt.plot([10,20,30,40], color = 'r', linestyle = '--', label = 'dashed')
plt.plot([40,30,20,10], 'g', ls = ':', label = 'dotted')
plt.legend()
plt.show()

In [ ]:
# 그래프 마커 모양 표시
plt.title('marker')
plt.plot([10,20,30,40], 'r.--', label = 'circle')   # 색상, 마커모양, 선모양(r.--)
plt.plot([40,30,20,10], 'g^', label = 'triangle up')
plt.legend()
plt.show()

## 실습

In [ ]:
plt.title("Seoul Population Change")
# x축에 년도, y축에 인구수가 있는 선 그래프 만들기
plt.plot(years, populations, color='green', 
         marker='o', linestyle='solid')
# y축에 레이블 추가하기
plt.ylabel("10Million")
plt.show()

In [ ]:
# x축에 년도, y축에 인구수가 있는 선 그래프 만들기
plt.plot(years, populations)
plt.show()

In [ ]:
import csv
f = open('CSV_example2_data.csv')
data = csv.reader(f)
next(data)

result = []

for row in data:
  result.append(float(row[4]))
f.close()

In [ ]:
plt.figure(figsize=(10, 2))  # 가로길이 10 세로길이 2
plt.plot(result, 'r')        # red color
plt.show()

In [ ]:
# 최고 4월 5월 데이터를 비교하는 그래프
import csv

f = open('CSV_example2_data.csv')
data = csv.reader(f)
next(data)

result_04 = []  # 최고 기온 데이터 저장할 리스트 생성
result_05 = []
# month = ''

for row in data:
    # 2023-04-19 -> 
    month = row[0].split('-')[1]
    if month == '04':
        result_04.append(float(row[4]))
    elif month == '05':
        result_05.append(float(row[4]))
f.close()

# print(result_04)
# print(result_05)

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(result_04, 'pink', label = 'month_04')
plt.plot(result_05, 'blue', label = 'month_05')
plt.show()