<a href="https://colab.research.google.com/github/yesyell/DA_School_1/blob/main/Python%20%EA%B8%B0%EC%B4%88/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%8A%A4%EC%BF%A8_0501.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주석

주석(Comment) - 가장 중요하면서도 가장 많이 잊어버리는 것. 만약에 코드가 100줄 이상되는것이 주어졌는데 아무런 설명이 없다면 개인적으로도 당황스럽고, 업무적으로도 다시 그 코드를 분석하기 위해 시간이 낭비될 수 있음 

주석은 보통 코드가 어떤 내용을 포함하고 있는지. 이 문장이 의미하는 것이 무엇인지? 왜 이렇게 썼는지? 주의할점은 없는지? 추가로 알아야할 내용이 있는지? 에 대한 이정표 역할을하게 됩니다.

주석은 프로그램을 사용하는데 아무런 영향을 끼치지는 않지만 사실 많은 줄의 코드보다 더 도움이 되는건 한 줄의 주석이 될 수 있기 대문에 앞으로도 주석은 잘 사용해야합니다.

In [ ]:
# 행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은 따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은 따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

# 파이썬 스타일 코드 대표 가이드라인

1. 들여쓰기는 공백 문자 네 개로 하자.
2. 한 줄의 최대 글자는 79자로 한다.
3. 최상위 함수와 클래스 정의들은 두 줄씩 띄우자.
4. 파일은 UTF-8 또는 아스키(ASCII)로 인코딩하자.
5. 한 import 문에선 모듈 하나만 불러온다.
6. 소괄호나 중괄호, 대괄호 사이에 추가로 공백을 주지 말고, 쉼표 안에도 공백을 주지 말자.
7. 클래스 이름은 카멜케이스(CamelCase)를 따르자.
8. 예외명은 Error로 끝내자.
9. 함수 이름은 separated_by_underscores처럼 소문자와 밑줄 문자(_)를 이용해서 짓자.
10. 비공개인 속성이나 메서드 이름은 밑줄 문자로 시작하자.(_private)

항상 이렇게 하라 라기 보다는 일종의 규약 가이드로써 향후 팀 프로젝트 시 이러한 규칙들을 따른다면 오류를 줄이고, 가독성과 유지보수가 편해지기 때문에 한 번 알아볼 것임.
결국 사람의 시간을 가장 효율적으로 사용하기 위한 가이드라인
- 파이썬의 철학 : 인간의 시간이 컴퓨터보다 중요하다.
- 결국 중요한 것은 일관성이다.

## 블럭 주석

- 바로 뒤에 오는 코드를 설명하고
주석 내용이 다루는 코드와 동일한 들여쓰기 레벨에서 표기한다.
- 한개의 #을 달고 주석을 기록한다.

In [ ]:
# 유저의 이름을 입력받고, 문자형이 아닌 것에 주의하세요.
user_input = input("유저 이름을 입력하세요")
normalized_data = normalizednormalize_data(user_inputs)

## 인라인 주석

- 코드와 같은 줄에 #을 붙인 후 내용 기록
- 코드와 적어도 두칸 이상 분리한다.

In [ ]:
연봉_인센포함 = 초기연봉 * 1.02   # 초기연봉에 2% 상승된 것이 인센포함된 연봉(23.05.01) 변경시 수정 바람

## 문서 형태 주석

- 모듈, 클래스, 함수, 메소드 등 정보를 제공하는 용도 docstring이라고 함
- 다른 주석과 달리 쌍따옴표나 따움표 3개로 구성
- 함수 바로 밑에 내용을 적는다.
- 여러 줄로도 적을수 있다.

In [ ]:
# 문서 주석 - 한줄 형태

def quicksort():
    """ Quicksort를 사용하여 보다 빠르게 정렬하는 함수 """
    pass

# 문서 주석 - 두줄 이상 형태

def salary_increase(salary, percentage, rating):
    """ 
    성과에 의한 연봉 변화 함수
    1 - 2등급 - 연봉 10% 상승
    3 - 4등급 - 연봉 5%  상승
    5 - 6등급 - 연봉 동결
    7 - 10등급 - 연봉 5% 삭감
    """

# 레이아웃

[임포트]
* import는 가장 위에 기록 한다.
* 한줄에 하나씩 쓰는것을 추천한다.

[들여쓰기]
* 들여쓰기는 4칸씩 띄어쓰기를 꼭 지킨다. - Tab을 활용해도 되지만 통일 필요 (수업때는 Tab)
* 함수의 줄 바꿈시에는 구분이 가능하도록 한다.

[탭과 스페이스]
* 탭보다는 스페이스를 사용하도록 노력하고, 섞어서 쓰지 말자

[글자 길이 / 줄 바꿈]
* 주석은 72자정도 / 최대 글자수는 79자 정도로 제한하는 것이 좋음

[빈줄 넣기]
* 일반적으로 클래스나 함수는 두줄로 분리해서 구분하기 좋게 한다.
* 그러나 클래스나 함수 안에 함수는 논리적으로 구분이 되는 부분에서 한줄을 띄워도 좋다.

[연산하는 경우]
* 연산을 많이 할 경우에는 옆으로 글을 이어나가는 것보다는 밑으로 추가한다.)

In [ ]:
# import 예시

# good
import os
import pandas as pd
import sklearn

# bad
import os, sys, pandas
from pandas import *     # wildcard 사용은 소스의 모호함을 증가시켜 오류를 발생시킬수도 있음

In [ ]:
# 기본 띄어쓰기 - 둘다 실행은 된다.
for i in range(1, 10):
  print(i)      # Tab

for i in range(1, 10):
    print(i)    # 띄어쓰기 4칸 

# 파라미터가 여러가지인 경우
# good
sample_def(var1, var2
          var3, var4) #일반적인 툴에서는 다음과 같이 enter를 사용하는 경우 띄어지게 된다.

# bad - 가독성이 떨어진다.
sample_def(var1, var2
  var3, var4)

In [ ]:
# 연산하는 경우
# good
sum_variable = (val1
                + val2
                + val3
                + val4
)

# 파이썬 스타일 작명

[상수]
* 이름이 길어지면 underbar(_)로 구분한다.
* 대문자로 작성

[패키지/모듈]
* 가급적 짧고 알기 쉽게 만든다.
* 패키지나 모듈 이름은 모두 소문자로만 작성한다.
* 모듈 이름이 만약 길어지면 underbar(_)로 구분한다.
* 패키지 이름에는 underbar사용 자제

[클래스]
* 클래스 이름은 CamelCase(단어 첫부분은 대문자)로 작성

[메소드] 
* 메소드 이름은 snake_tail방식으로 작성하고 단어별 underbar(_)로 구분한다.
* 인스턴스 메소드의 첫번째인자는 항상 self로 시작한다.
* 클래스 메소드의 첫번째 인자는 항상 cls로 시작한다.

In [ ]:
# 왠만하면 한글 변수명은 자제

# [상수] 모두 대문자
PI = 3.14
LONG_CONSTANT_EXAMPLE = 12345678

# [함수/변수] snake case
my_age = 43

# good
def python_function_name(arg1, arg2):
    pass

# bad 
def PythonFunctionName(arg1, arg2):
    pass

# 모듈 (snake case 허용) - 패키지 이름
# good
import mypackage
import modulename

# bad
import ModuleName
import module_name


# 클래스(Pascal case)
# Class 예
class MyClass:
    pass

# 메소드
class MyClass:
  '''인스턴스 메소드 메소드'''
  def instance_method(self, var1, var2):
    pass

  '''클래스 메소드'''
  def class_method(cls, var1, var2):
    pass

# 공백문자

- 할당을 할 경우에는 공백 하나만 사용
- 앞 뒤로 공백 한개씩만 사용하자
- 괄호와 콜론 앞/뒤로는 공백을 주지 말자

In [ ]:
# 할당
# good
x = 1
y = 2
long_variable = 3

# bad
x             = 1
y             = 2
long_variable = 3

# 앞 뒤로 공백 1개씩
# good
i = i + 1
submitted += 1
x = x*2 - 1

# bad 
i=i+1
submitted +=1
x = x * 2 - 1

# 괄호, 콜론 앞/뒤로는 공백을 주지 않습니다.
# good
router(1)
router[1:3]
server['centOs']
Class MyClass:

# bad
router (1)
router[1: 3]
server ['centos']
Class MyRouter :

# 기본 입출력

- 변수 - X = 10이라는 코드가 있을때 10을 x로 할당한다고 한다. 변수에는 숫자, 문자등 다양한 자료형태가 들어갈수 있으며, 자료형태 확인은 type함수를 통해 확인할 수 있다.
- input - input()함수로 데이터를 입력하면 자료를 입력받는 함수 - 기본으로는 문자형을 입력받는다.
- print - print()함수로 데이터를 출력하는 함수

In [ ]:
# 본인 이름 출력하기 - Input 문자형(기본)
print(f'본인 이름을 입력하세요')
my_name = input()
print(f'제 이름은 {my_name}입니다.')

In [ ]:
# 두 숫자의 합 구하기 - Input 숫자형
print(f'두 숫자의 합 구하기 입니다.')
sum_1 = int(input('첫번째 숫자를 입력하세요'))
sum_2 = int(input('두번째 숫자를 입력하세요'))
# input은 기본적으로 문자형을 받기 때문에 숫자형 쓰고 싶으면 int, float
print(sum_1 + sum_2)

In [ ]:
# 숫자를 문자열로 바꾸기
ex1 = 52
ex1_str = str(ex1)

print(f"ex1은 {ex1}입니다.")
print(f"ex1_str은 {ex1_str}입니다.")

print(type(ex1))
print(type(ex1_str))

# 문자를 숫자로 바꾸기
ex2_str_int = int(ex1_str)

print(f"ex1_str은 {ex1_str}입니다.")
print(f"ex2_str_int은 {ex2_str_int}입니다.")

print(type(ex1_str))
print(type(ex2_str_int))

In [ ]:
# 문자열 자르기 : split() -> list 형태로 반환
a = "10 20 30 40 50".split(" ")
print(a)

In [ ]:
# 문자열과 in 연산자
print("멋쟁이" in "멋쟁이 사자처럼")
print("위니브" in "멋쟁이 사자처럼")

In [ ]:
# 문자열과 find 함수
ex3 = "멋쟁이 사자처럼"
print(ex3.find("사자"))

In [ ]:
# 공백 제거
# txt, csv -> python "멋쟁이 사자처럼" -> "  멋쟁이 사자처럼"

ex4 = "  안녕하세요 멋쟁이 사자처럼 입니다."
print(ex4)

# strip
print(ex4.strip())

## chat gpt 실습

In [ ]:
pip install openai

In [ ]:
import os
import openai

In [ ]:
# Open AI API Key 추가
openai.api_key = "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"

question = input("무엇을 물어볼까요?:")

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": question}
  ]
)

print(completion.choices[0].message.content)

In [ ]:
def chat_gpt(message):
    openai.api_key = "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"

    completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
        {"role": "user", "content": question}
    ]
    )

    print(completion.choices[0].message.content)

In [ ]:
chat_gpt("chat gpt가 뭐야?")

# Random 함수

- 데이터 분석 시에 무작위 테스트를 하거나 샘플을 뽑고 싶을 때 사용 -> 굉장히 많이 사용

- random() : 0~1 실수
- uniform(n, m) : n~m 실수
- randint(n, m) : n~m 정수
- randrange(n, m, r) : r 간격씩 n~m 정수
- choice() : 하나의 원소 선택
- sample() : 여러 원소 선택 -> 리스트 형태
- shuffle() : 순서 섞기

In [ ]:
import random

In [ ]:
# 1. random 함수의 기본 사용
random.random() # 0에서 1사이의 실수

In [ ]:
# 어디서부터 어디까지의 숫자 뽑아줘 (실수)
random.uniform(1, 10)

In [ ]:
# 어디서부터 어디까지의 숫자 뽑아줘 (정수)
random.randint(1, 10)

In [ ]:
# 짝수 / 홀수만 뽑아줘
random.randrange(0, 101, 2)
random.randrange(1, 101, 2)

In [ ]:
# 랜덤하게 하나의 원소를 선택합니다.
random.choice('Hello')

In [ ]:
random.choice(['사과', '바나나', '오렌지'])

In [ ]:
# 랜덤하게 여러 원소를 선택합니다. -> list 형태로 반환
random.sample(range(1, 5), 3)

In [ ]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기
random.sample(range(1, 46), 6)

In [ ]:
# seed 지정 - 매번 같은 순서의 난수가 출력
random.seed(505)
lotto = random.sample(range(1,46), 6)
print(f'로또번호는 {lotto}입니다.')

In [ ]:
# shuffle 함수 - 순서 섞기
items = [1,2,3,4,5]
random.shuffle(items)
print(items)

In [ ]:
# 실습 2. 보드게임 주사위 2개 던지기 -> 난수 추첨
# 랜덤으로 1부터 6까지 숫자를 생성해서
random.seed(199)

dice1 = random.randint(1,6)
dice2 = random.randint(1,6)

# dice1 dice2 합을 출력하는 프로그램을 만드세요
print(f'첫번째 주사위: {dice1}')
print(f'두번째 주사위: {dice2}')
print(f'두 주사위의 합: {dice1+dice2}')

In [ ]:
# 실습 3. 오늘의 점심 메뉴 -> 리스트로 가져와서 점심 메뉴를 선택하는 랜덤 프로그램
menu = ['김밥', '떡볶이', '라면', '우동', '볶음밥']
lunch = random.choice(menu)
print(f'오늘 점심은 {lunch}입니다')

In [ ]:
# 실습 4. 가위바위보
# 컴퓨터는 랜덤, 나는 input()
# 승패 상관없이 서로 무엇을 냈는지 출력
game = ['가위', '바위', '보']

com = random.choice(game)
user = input('가위 바위 보 중 하나를 내세요.')

print(f'컴퓨터는 {com}, 당신은 {user}를 냈습니다.')

# 시간 함수

### time 모듈과 datetime 모듈 차이

time 모듈과 datetime 모듈은 파이썬에서 시간을 다루는 데에 사용되는 모듈이지만, 기능과 사용 방법이 약간 다릅니다.

time 모듈은 **유닉스 시간(Unix Time)**을 다루는 데에 사용되는 모듈입니다. 
유닉스 시간은 1970년 1월 1일 0시 0분 0초부터 경과한 시간을 초(second) 단위로 표현한 것입니다. time 모듈은 유닉스 시간을 계산하거나, 현재 시간을 구하는 등의 기능을 제공합니다. 또한, 시간을 문자열로 변환하거나, 시간을 대기하는 기능 등을 제공합니다.

반면에 datetime 모듈은 날짜와 시간을 다루는 데에 사용되는 모듈입니다. datetime 모듈은 날짜와 시간을 연산하거나, 형식을 지정하여 문자열로 변환하는 등의 기능을 제공합니다. 또한, 시간대(timezone)와 관련된 기능을 제공하여 세계 각 지역의 시간을 처리하는 데에 유용합니다.

따라서, time 모듈은 초(second) 단위의 시간을 다루는 데에 적합하고, datetime 모듈은 날짜와 시간을 다루는 데에 적합합니다. 두 모듈은 각각의 기능과 사용 방법이 다르므로, 사용에 앞서 어떤 모듈을 사용해야 하는 지를 고려하여야 합니다.

시계열데이터 분석을 할 때, pandas 를 활용한 pd.to_datetime() 을 자주 보게 되실거라, 위 차이만 참고해주시고 실습에서 익숙해집시다

In [ ]:
import time

In [ ]:
time.time()

In [ ]:
time.ctime()

In [ ]:
time.localtime()

In [ ]:
import datetime

In [ ]:
from datetime import datetime

In [ ]:
now = datetime.now()

print(f'현재 날짜는 {now.date()}')
print(f'현재 시간은 {now.time()}')

print(f'현재 연도는 {now.year}')
print(f'현재 월은 {now.month}')
print(f'현재 일은 {now.day}')

In [ ]:
import pytz

datetime.now(pytz.timezone('UTC'))

In [ ]:
datetime.now(pytz.timezone('Asia/Seoul'))

In [ ]:
from datetime import timedelta, timezone

In [ ]:
now = datetime.now(timezone(timedelta(hours=9)))

print("현재 : ", now)
print("현재 날짜 : ", now.date())
print("현재 시간 : ", now.time())
print("timestamp : ", now.timestamp())
print("년 : ", now.year)
print("월 : ", now.month)
print("일 : ", now.day)
print("시 : ", now.hour)
print("분 : ", now.minute)
print("초 : ", now.second)
print("마이크로초 : ", now.microsecond)
print("요일 : ", now.weekday())
print("문자열 변환 : ", now.strftime('%Y-%m-%d %H:%M:%S'))

## 파이썬 멈추기

In [ ]:
import time # sleep 함수 

# 1. 초 단위 테스트
print('-' * 30)
now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S')) # 현재 시간 출력

time.sleep(5) # 5 초 딜레이

now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S'))

time.sleep(10) # 10 초 딜레이

now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S'))

## 파이썬 프로그램 시간 측정

In [ ]:
from time import process_time
start = time.time() # 측정 시작

print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")

end = time.time() 
print(f'프로그램을 수행하는데 {end - start}초가 걸렸습니다.')

In [ ]:
start = process_time() # 측정 시작

print("★ 구구단을 출력합니다.\n")
for x in range(2, 10):
    print("------- [" + str(x) + "단] -------")
    for y in range(1, 10):
        print(x, "X", y, "=", x*y)
print("---------------------")

end = process_time()
print(f'프로그램을 수행하는데 {end - start}초가 걸렸습니다.')

# 자료구조

## 리스트 [ ]

In [ ]:
# 1차원 리스트
a = [100000, 2, 1, 3]
print(type(a))

In [ ]:
b = list('kimyelin')
print(type(b))

In [ ]:
3       #상수(스칼라)
[2]     #1차원 리스트(Vector)
[[2]]   #2차원 리스트(Matrix)
[[[3]]] #3차원 리스트(Tensor)

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['kimyelin', 20, 30]]
print(a)

In [ ]:
a[2][0] #인덱싱

In [ ]:
a[2][0][:3] #슬라이싱

In [ ]:
# 리스트 생성 - 여러 형태의 리스트
List_01 = []
print(f"첫번째 리스트 예제의 값은 : {List_01}")

List_02 = list()
print(f"두번째 리스트 예제의 값은 : {List_02}")

# 단일 자료형 리스트
List_03 = [10, 55, 20, 75]
print("세번째 리스트 예제의 값은 : " , List_03)

# 복합 자료형 리스트(문자, 숫자)
List_04 = [1000, 10000,'Lion', 'Weniv', 'Coding']
print("네번째 리스트 예제의 값은 : " , List_04)

# 복합 리스트 - 리스트 안에 리스트
List_05 = [1000, 10000, ['Lion', 'Weniv', 'Coding']]
print("다섯번째 리스트 예제의 값은 : " , List_05)

# 복합 자료형 리스트(3가지 이상)
List_06 = [54.42, 'not', 3, 4, False, 3.14159]
print("여섯번째 리스트 예제의 값은 : " , List_06)

In [ ]:
# 리스트 생성 - 2차원 리스트
kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

In [ ]:
# 리스트 생성 - range
# range(start, stop, step)
a = list(range(10))
print(a)

### 리스트 인덱싱 / 슬라이싱

리스트 인덱싱과 슬라이싱은 간단하지만 사용하다보면 헷갈릴 경우가 많습니다. 보통 데이터의 구조가 2차원 이상의 구조이고, 데이터를 정제하다보면 헷갈릴 경우가 많기 때문에 복습해보면서 잘 알아둡시다!

* 리스트 인덱싱 - 휴대폰 단축번호를 생각하면 쉬움 - 1번은 어머니  2번은 아버지 3번은 선생님
* 리스트 슬라이싱 - 휴대폰 그룹을 생각하면 쉬움 - 어머니,아버지는 가족 선생님,친구1은 학교

In [ ]:
# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님', '친구']

# 리스트 인덱싱
print(Phone_num[0])
print(Phone_num[2])

# 리스트 슬라이싱 - 맨 마지막 숫자 +1 주의
family = Phone_num[0:2]
school = Phone_num[2:4]

print(family)
print(school)

In [ ]:
# 2차원 리스트 인덱싱 / 슬라이싱
kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]
score_all = [kor, math, eng]

print(score_all[0][1]) # 국어 점수 / 2번째 학생
print(score_all[1][2]) # 수학 점수 / 3번째 학생

In [ ]:
# 리스트 갱신하기
Phone_num = ['어머니', '아버지', '선생님', '친구']
Phone_num[3] = '이모'
print(Phone_num)

In [ ]:
# 결측값을 대체
# 숫자열
['어머니', '아버지', '선생님', '.', '.', '.']
# 문자열 
['어머니', '아버지', '선생님', '', '', '']

In [ ]:
# 리스트 갯수 파악하기
len(Phone_num)

### 리스트 함수

[데이터 추가 함수]
* append() 리스트 맨 마지막에 인덱스 추가
* extend() 기존 리스트에 새로운 리스트를 합침
* insert() 특정 위치에 값을 추가

[데이터 제거 함수]
* pop() 리스트 끝에서 부터 하나씩 꺼내어 반환한 뒤 삭제
* remove() 리스트에 있는 특정값을 제거
* del() 특정 인덱스 위치에 있는 값을 제거
* clear() 리스트 안에 있는 원소를 다 비우는 함수

[데이터 정렬 함수]
* sort() 오름차순으로 정렬(내림차순의 경우 reverse = True)
* reverse() 값의 순서를 거꾸로 뒤집어서 사용

[데이터 중복 확인]
* count("특정값") 특정값이 몇개나 중복으로 있는지 체크 가능

[데이터 위치 확인]
* index()

In [ ]:
# 리스트 함수 실습
l = [1, 2, 3]
dir(l) # dir을 통해 사용할 수 있는 함수(메서드) 확인 가능

In [ ]:
# 버스 승객 탑승 

# 리스트 함수를 사용해서 실습할 것
# 상황 1. 버스에 버스기사 아저씨가 탑승해서 운행가능 

bus = []

# 상황 1. 버스기사 아저씨가 탑승을 하려면
bus.append('버스기사아저씨')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
# 상황 2. 버스에 철수가 탑승을 했다.
bus.append('철수')
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')

In [ ]:
# 상황 3. 선생님이 아이 3명을 데리고 탑승했어요.
kinder = ['선생님','아이1','아이2','아이3']
bus.extend(kinder)

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 상황 4. 노인 한분이 탑승하셨어요
# insert()
bus.insert(1, '노인')

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 아이의 위치 확인
kid1 = bus.index('아이1')
print(kid1)

In [ ]:
# 노인분이 내리고자 할때
bus.remove('노인')

print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
# 상황 6. 선생님이 아이들을 한명 한명 인원 체크를 하며 내리려고 하고 있어요.
# 인원체크 후에 선생님이 마지막으로 내릴거에요

bus.pop()
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

In [ ]:
bus.clear()
print(f'버스에는 누가 타고 있을까요? {bus}가 타고 있어요')
print(f'몇명이나 타고 있을까요? {len(bus)}명이 타고 있어요')

### 리스트 연산

* 리스트 덧셈
* 리스트 곱셉
* in 연산

In [ ]:
# 리스트 덧셈

company1 = ['멋쟁이사자처럼']
company2 = ['위니브']
company3 = ['테킷']

company_all = [company1 + company2 + company3]
company_all

In [ ]:
company_all_01 = company1 + company2 + company3
company_all_01

In [ ]:
# 리스트 곱셈

company1 * 3

In [ ]:
# 리스트 내의 요소 찾기

print('멋쟁이사자처럼' in company_all)
print('멋쟁이사자처럼' in company_all_01)

In [ ]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 평균을 내보기

list_example = []  # 빈 리스트 생성

# 5개의 정수 입력받기
for i in range(5):
    num = int(input(f"{i+1}번째 정수를 입력하세요: "))
    list_example.append(num)

# 리스트의 평균 계산하여 출력
avg = sum(list_example) / len(list_example)
print(f"입력받은 정수들의 평균: {avg}")

### 패킹과 언패킹

In [ ]:
# 패킹
t = [1, 2, 3]

In [ ]:
# 언패킹
a, b, c = t

In [ ]:
print(a)
print(b)
print(c)

### 리스트 컴프리 헨션

In [ ]:
# 기본 리스트에 값 채워넣기

li = []
for i in range(5):
    li.append(i)
print(li)

In [ ]:
[i for i in range(5)]

In [ ]:
# 1. 수식 적용
[i*10 for i in range(5)]

In [ ]:
# 2. 조건문 적용
[i for i in range(5) if i % 2 == 0]

### 다양한 방식의 리스트 출력

In [ ]:
# enumerate 함수 

for i, v in enumerate(['가위', '바위', '보']):
    print(i, v)

In [ ]:
# zip 함수 

alist = ['가위', '바위', '보']
blist = ['바위', '보', '가위']

for a, b in zip(alist, blist):
    print(a, b)

In [ ]:
for x, y in zip(range(10), range(10, 20)):
    print(x, y)

In [ ]:
dict_num = {x:y for x, y in zip(range(10),range(10, 20))}
print(dict_num)

In [ ]:
# enumerate & zip 함수

alist = ['가위', '바위', '보']
blist = ['바위', '보', '가위']

for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

## 튜플 ( )

In [ ]:
# 튜플 생성 예제

tuple_sample1 = ()
tuple_sample2 = tuple()

print(tuple_sample1, type(tuple_sample1))
print(tuple_sample2, type(tuple_sample2))

In [ ]:
# 튜플 생성 예제
cust_all = ('뉴진스', '아이브', '스테이시')
print(cust_all)

In [ ]:
len(cust_all)

In [ ]:
# cust_all[1] = '블랙핑크'

# 튜플은 수정 불가

### 튜플 인데싱 / 슬라이싱

In [ ]:
# 튜플 인덱싱
print(cust_all[1])

# 튜플 슬라이싱
print(cust_all[1:3])

### 튜플 함수

In [ ]:
# 튜플 함수
b = (5, 3, 2, 1, 2, 4)

print(b.index(3))
print(b.count(2))

### 튜플 연산

In [ ]:
# 튜플 연산
c = (6, 7, 8, 9, 10)

print('b + c =', b + c)
print('c * 3 =', c * 3)

In [ ]:
t = ('a', 'b', 'c', 'd')
(x1, x2, x3, x4) = t

In [ ]:
print(t, type(t))
print(x1, type(x1))
print(x2, type(x2))
print(x3, type(x3))
print(x4, type(x4))

In [ ]:
t2 = (1, 2, 3)  # 1, 2, 3
print(t2, type(t2))

## 딕셔너리 { : }

In [ ]:
x = {}
y = dict()

print(x, type(x))
print(y, type(y))

In [ ]:
a = {'name' : 'Kim', "phone" : '01080782069'}
b = {0 : 'Hello Python'}
c = {'arr' : [1,2,3,4]}
d = {'Name' : 'Nicename',
     'City' : 'Seoul',
     'Age'  : 33,
     'Grade' : 'A',
     'Status' : True}

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

In [ ]:
# 딕셔너리에 값 추가
a = {'name' : 'Kim', "phone" : '01080782069'}
a['address'] = 'Seoul'
print(a, len(a)) # 딕셔너리의 개수

### 딕셔너리 함수

In [ ]:
# key 값만 가져오는
print(f'key 값은 {a.keys()}입니다.')

# value 값만 가져오는
print(f'value 값은 {a.values()}입니다.')

# 전체 다 가져오는 함수
print(f'전체 값은 {a.items()}입니다.')

In [ ]:
'name' in a.keys()
'Kim' in a.values()

In [ ]:
# 값 삭제
del a["name"]
print(a)

## 세트 { }

In [ ]:
empty_set = set()
print(empty_set, type(empty_set))

In [ ]:
# 세트에 값 추가
python_set = set(['판다스','넘파이'])
print(python_set)

In [ ]:
test_set = set('python')
print(test_set)

### 세트 함수

In [ ]:
# 세트 생성
Set_1 = {1,2,3}
print(Set_1)

# 요소 추가
Set_1.add(4) # list - append
print(Set_1)

# 여러자료 추가
Set_1.update([5,6,7,8,9,10]) # list - extend
print(Set_1)

# 요소 제거 - 특정 순서
Set_1.remove(2)
print(Set_1)

# 요소 제거 - 특정 값 삭제
Set_1.discard(10)
print(Set_1)

### 세트 연산

In [ ]:
# 세트 연산
s1 = set(['파이썬', 'SAS', 'R', 'SQL'])
s2 = set(['파이썬', '파이토치', '텐서플로우', 'SQL'])

print(s1.union(s2))         # 합집합 
print(s1.intersection(s2))  # 교집한
print(s1.difference(s2))    # s1 - s2

In [ ]:
# set -> list -> tuple -> set

s1 = set(["파이썬", "SAS", "R", "SQL"])

s1_list = list(s1)
s1_list_tuple = tuple(s1_list)
s1_list_tuple_set = set(s1_list_tuple)

print(s1, type(s1))
print(s1_list,type(s1_list))
print(s1_list_tuple, type(s1_list_tuple))
print(s1_list_tuple_set, type(s1_list_tuple_set))

## ** 정리 **

In [ ]:
a = {
'리스트' : ['순서 O','중복 O', '수정 O', '삭제 O' 'list(), []', 'ex1 = [1,2,3]'],
'튜플' : ['순서 O', '중복 O', '수정 X', '삭제 X' '()', 'ex2 = (1,2,3)'],
'딕셔너리' : ['순서 x', '(키)중복 x', '수정 O', '삭제 O' "dict([]), { : }}", "ex3 = {1 : ex]"],
'세트' : ['순서 x', '중복 x', '수정 O', '삭제 O' "set(), {}", "ex4 = {1,2,3}"]
}

print(type(a))

print(a['리스트'])
print(a['튜플'])
print(a['딕셔너리'])
print(a['세트'])

# 조건문

1. 단일 조건문
3. If - else 조건문
3. If - elif - else 조건문
4. 다중 중첩 조건문
5. input과 함께 사용하는 조건문

[조건문을 만들 때 주의사항]
- 어떤 조건을 설정할것인가?
- 어떤 예외가 발생할것인가?(테스트, 검증)
- (조건문이 작성된 뒤에는) 최소 5~10번정도는 테스트 해봐라

[기억해야 할 것]
1. if 뒤에는 참과 거짓을 판단하는 조건이 와야함
2. 조건문이 끝나면 반드시 콜론으로 끝나야함
3. if 다음 문장은 들여쓰기를 사용해야함
4. if 조건에 부합하지 않으면 elif나 else를 사용한다. 
5. 보통 조건에 모두 부합하지 않을때 else를 사용한다.

[연산자]
- x < x가 작다
- x > x가 크다
- x == y 같다
- x != y 다르다
- x >= y 크거나 같다
- x <= y 작거나 같다

[논리연산자] 2개이상의 조건을 사용하고 싶을때 사용
- and
- or
- not

In [ ]:
# if문 예제
x = 2
if x > 1 and x < 10:  # 2가지 조건이 모두 충족할 경우
  print('True')

In [ ]:
if True:
    print('hello')  # if는 참이기 때문에 출력
print('one')        # if문과 상관 없음

if False:
    print('world')  # if는 거짓이기 때문에 아무것도 출력되지 않음
print('two')        # if문과 상관 없음

In [ ]:
if 1: # 1 = True
  print('hello')
print('end')

if 0:
  print('hello') # 출력 X
print('end')

if -1:
  print('hello')
print('end')

#공백이 있는 문자열
if  ' ':
    print('hello')
print('end')

#공백이 없는 문자열
if  '':
    print('hello') # 출력 X
print('end')

if None: 
    print('hello') # 출력 X
print('end')

if not None: # None은 False와 같은 의미
    print('hello')
print('end')

In [ ]:
# if, else 문

x = int(input('비교할 수를 입력하세요 : '))
y = int(input('비교할 수를 입력하세요 : '))

if x > y:
  print("x가 y보다 큽니다")
else:
  print("x가 y보다 작거나 같습니다")

In [ ]:
# if, elif, else 

if x > y: # False
    print("x가 y보다 큽니다")
elif x < y: #True
    print("x가 y보다 작습니다.")
else: # 실행 x
    print("같습니다")

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

In [ ]:
# 중첩 조건문
# if를 중첩해서 사용하기
score = 98

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
    if score > 95:
        print('hello world')
        if score > 97:
            print('hello!!!')
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000