<a href="https://colab.research.google.com/github/yesyell/DA_School_1/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%2C%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0/python100%EC%A0%9C_1to100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Python 100제 - 1권](https://pythonworkbook.notion.site/Python-100-1-abeccbfd8175483da1ed96642640c687)

# 1번

In [163]:
nums = [100, 200, 300, 400, 500]
nums.pop()
nums.pop()
nums

[100, 200, 300]

In [164]:
nums = [100, 200, 300, 400, 500]
nums[:3]

[100, 200, 300]

In [165]:
nums = [100, 200, 300, 400, 500]
nums[-5:-2]

[100, 200, 300]

# 2번

In [166]:
l = [200, 100, 300]
l.insert(2, 10000)
l

[200, 100, 10000, 300]

In [9]:
l = [200, 100, 300]
l[:2] + [10000] + [l[-1]]
# l[:2] + [10000] + l[-1] # error

[200, 100, 10000, 300]

# 3번

In [10]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

# 4번

In [11]:
# 1)  입력 : a 4= 1,   출력 : class 'int'
# 2)  입력 : a = 2.22,   출력 : class 'float'
## 3)  입력 : a = 'p',   출력 : class 'char' -> 'str'
# 4)  입력 : a = [1, 2, 3],   출력 : class 'list'

#5번

In [12]:
a = 10
b = 2
for i in range(1, 5, 2):
    a += i
print(a+b)

16

# 6번

In [13]:
# 다음은 파이썬 문법 중에서 False로 취급하는 것들 입니다.
# False로 취급하지 않는 것이 하나 있네요! **True를 찾아주세요.**

# 1)  None
## 2)  1
# 3)  ""
# 4)  0
# 5)  bool(0)

In [22]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

In [20]:
l = []
print(id(l))
print(bool(l))

135131996370496
False

In [21]:
l.append(10)
print(id(l))
print(bool(l))

135131996370496
True

In [19]:
# l 값은 변하지 않지만 bool 값은 변함
# python은 지극히 인간의 입장에서 출력을 고려한 것임

# 7번

In [23]:
# 다음 중 변수명으로 사용할 수 없는 것 2개를 고르시오.
# 1)  age
# 2)  a
## 3)  as
# 4)  _age
## 5)  1age

In [167]:
# 반복문 등에서 사용하지 않는 변수에 _를 넣습니다.
for _ in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [28]:
# 프라이빗한 변수에 _를 사용합니다.
class Human():
    _age = 0

# 8번

In [24]:
d = {'height':180,
     'weight':78,
     'weight':84,
     'temparture':36,
     'eyesight':1}
print(d['weight'])

84

# 9번

In [31]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')
# 2019/04/26 11:34:27

2019/04/26 11:34:27

# 10번

In [42]:
n = int(input())
for i in range(1, n+1):
    print(' ' * (n-i) + '*' * (i*2-1))

#     *
#    ***
#   *****
#  *******
# *********

5
    *
   ***
  *****
 *******
*********

# 11번

In [43]:
s = 0
for i in range(1, 101):
    s += i
print(s)

5050

# 12번

In [46]:
class Wizard():
    def __init__(self, health, mana, armor):
        # self는 인스턴스, 인스턴스 메모리 영역
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
        print('파이어볼')

jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()
# 545 210 10
# 파이어볼

545 210 10
파이어볼

# 13번

In [168]:
# 태양계의 n번째 행성
planets = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

n = int(input())
print(planets[n-1])

3
지구

# 14번

In [49]:
# 만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력해 주세요.
n = int(input())

if n % 3 == 0:
    print('짝')
else:
    print('홀')

6
짝

[저주의 숫자3](https://school.programmers.co.kr/learn/courses/30/lessons/120871)

In [172]:
# 소거법
[i for i in range(100) if i%3 != 0] # 3의 배수 제거
[i for i in range(100) if '3' not in str(i)] # 3이 들어가 있는 숫자 제거

n = 10
[i for i in range(100) if i%3 != 0 and '3' not in str(i)][n-1]

16

In [171]:
solution = lambda n:[i for i in range(10000) if i % 3 != 0 and '3' not in str(i)][n-1]
solution(10)

16

In [169]:
def solution(n):
    return list(filter(lambda x: '3' not in str(x),
                filter(lambda x: x%3 != 0, range(1000))))[n-1]

solution(15)

25

# 15번

In [64]:
# 안녕하세요. 저는 김다정입니다.

# 16번

In [69]:
# 거꾸로 출력
'안녕하세요'[::-1]

'요세하녕안'

In [70]:
''.join(list(reversed(list('안녕하세요'))))

'요세하녕안'

In [71]:
s = '안녕하세요'
ss = list(s)
ss.reverse()
''.join(ss)

'요세하녕안'

In [72]:
s = '안녕하세요'
result = ''
for i in s:
    result = i + result
result

'요세하녕안'

In [75]:
# 재귀
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]
reverse('안녕하세요')

'요세하녕안'

# 17번

In [79]:
# 입력으로 키가 주어지면 키가 150이 이상이면 YES를 틀리면 NO를 출력하는 프로그램
height = int(input())

# print('NO') if height >= 150: print('YES') # Error
print('YES') if height >= 150 else print('NO')

149
NO

In [81]:
def solution(height):
    return 'YES' if height >= 150 else 'NO'
solution(150)

'YES'

# 18번

In [83]:
# 공백으로 구분하여 세 과목의 점수가 주어지면, 전체 평균 점수를 구하는 프로그램
# 단, 소숫점 자리는 모두 버립니다.

list(map(int, '20 30 40'.split(' ')))

[20, 30, 40]

In [177]:
score = input()
sum(map(int, score.split(' '))) // 3

20 30 40

30

# 19번

In [182]:
# 공백으로 구분하여 두 숫자 a와 b가 주어지면, a의 b승을 구하는 프로그램
n = input()
l = list(map(int, n.split(' ')))
l[0] ** l[1]

2 4

16

# 20번

In [184]:
# 공백으로 구분하여 두 숫자가 주어집니다.
# 첫번째 숫자로 두번째 숫자를 나누었을 때 그 몫과 나머지를 공백으로 구분하여 출력하세요.
n = input()
l = list(map(int, n.split(' ')))
print(l[0]//l[1], l[0]%l[1], sep=' ')

17 3
5 2

# 21번

In [ ]:
# 다음 중 set을 만드는 방법이 아닌 것?
# 1)  x = {1, 2, 3, 5, 6, 7}
## 2)  x = {} -> dict
# 3)  x = set('python')
# 4)  x = set(range(5))
# 5)  x = set()

In [92]:
t = 1
t = (1) # tuple 아님
t = (1,)
t

(1,)

In [ ]:
# 어떤 라이브러리나 프레임워크 마지막 콤마가 꼭 있는 이유 :
# 버전 관리하는 곳에서 콤마를 버전의 업이라고 인식하는 경우가 있음
# 튜플의 경우 상수, 문자가 들어갔을 때 튜플이 아닌 int, str로 변환되는 것을 막기 위해

# 22번

In [93]:
# 다음 중 변수 i가 6의 배수인지 확인하는 방법으로 올바른 것은?
# 1)  i / 6 == 0
## 2)  i % 6 == 0
# 3)  i & 6 == 0
# 4)  i | 6 == 0
# 5)  i // 6 == 0

# 23번

In [96]:
# print(10/2)의 출력 결과는 5이다. (X)
(10/2)

5.0

# 24번

In [97]:
'mary'.upper()

'MARY'

In [99]:
ord('a')

97

In [100]:
ord('A')

65

In [102]:
ord('a') - ord('A') # 대소문자 차이 32로 일정

32

In [104]:
chr(ord('a') - 32)

'A'

In [105]:
for i in 'mary':
    print(chr(ord(i)-32), end='')
# 완벽한 코드는 아니고, 소문자인 것을 판단하는 if가 위에 있어야 합니다.

MARY

# 25번

In [107]:
# 입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수를 만들어 주세요.
n = 3
print(n**2*3.14)

28.26

# 26번

In [108]:
key = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'.split(', ')
value = 'Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune'.split(', ')

In [109]:
dict(zip(key, value))

{'수성': 'Mercury',
 '금성': 'Venus',
 '지구': 'Earth',
 '화성': 'Mars',
 '목성': 'Jupiter',
 '토성': 'Saturn',
 '천왕성': 'Uranus',
 '해왕성': 'Neptune'}

# 27번

In [ ]:
# 두 개를 합쳐 학생의 이름이 key이고 value가 수학 점수인 딕셔너리를 출력해주세요.

# 28번

In [118]:
# 2-gram
s = 'Python'
for i in range(len(s)-1):
    print(s[i:i+2])

Py
yt
th
ho
on

In [119]:
list(zip(s, s[1:])) # 짝이 안맞으면 어차피 생성하지 않음

[('P', 'y'), ('y', 't'), ('t', 'h'), ('h', 'o'), ('o', 'n')]

In [120]:
for i in zip(s, s[1:]):
    print(''.join(i))

Py
yt
th
ho
on

In [123]:
p = [1, 3, 5, 7, 11, 14, 19, 21, 22]
list(zip(p, p[1:]))

[(1, 3), (3, 5), (5, 7), (7, 11), (11, 14), (14, 19), (19, 21), (21, 22)]

In [125]:
list(map(lambda x: x[1]-x[0], zip(p, p[1:])))

[2, 2, 2, 4, 3, 5, 2, 1]

# 29번

In [126]:
# 알파벳 하나만을 입력하고 그 알파벳이 대문자이면 YES를 아니면 NO를 출력하는 프로그램

In [132]:
# 알파벳 여러개를 입력하고 여러개 입력한 것 중 대문자만 출력해주는 프로그램
# 'HellO WoRld' -> HOWR

for s in 'HellO WoRld':
    if s.isupper(): # 코드의 의도가 가장 명확함
        print(s)

H
O
W
R

In [130]:
for s in 'HellO WoRld':
    if s != s.lower():
        print(s)

H
O
W
R

In [131]:
for s in 'HellO WoRld':
    if 'A' <= s <= 'Z':
        print(s)

H
O
W
R

# 30번

In [139]:
# 입력으로 첫 줄에 문자열이 주어지고 둘째 줄에 찾을 문자가 주어지면 그 문자가 시작하는 index를 반환하는 프로그램

'pineapple is yummy'.find('apple') # 없으면 -1
'pineapple is yummy'.index('apple') # 없으면 error

# 예를 들어 주기적으로 크롤링하는 코드가 있다면
# find를 쓰셔서 error가 안나고 다음 코드로 넘어가게 코딩하실 수 있습니다.
# 예외처리를 하는 것이 가장 좋습니다.
# 정답: 목적에 맞게 사용하셔야 합니다.

4

In [144]:
'pineapple is yummy apple'.find('apple')
'pineapple is yummy apple'.index('apple')

4

In [141]:
'pineapple is yummy apple'.rfind('apple')
'pineapple is yummy apple'.rindex('apple')

19

In [143]:
'pineapple is yummy apple'.find('apple', 10)
'pineapple is yummy apple'.index('apple', 10)

19

# 31번

[파이썬 자료형의 복잡도](https://wayhome25.github.io/python/2017/06/14/time-complexity/)

In [146]:
# 다음 리스트의 내장함수의 시간 복잡도가 O(1)이 아닌것은?
# 1)  l[i]
# 2)  l.append(5)
## 3)  l[a:b] -> O(b-a)
# 4)  l.pop()
# 5)  l.clear()

In [149]:
# slice 사용 경우 -> error 발생시키지 않기 위해
l = [1, 2, 3, 4, 5]

# l[10]  # out of range error
l[10:11] # out of range error가 안나지만 기능은 같음

[]

# 32번

In [187]:
# 문자열을 입력받으면 단어의 갯수를 출력하는 프로그램
s = input()
len(s.split(' '))

My name is yelin.

4

# 33번

In [190]:
# 한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램
n = input()
list(map(int, n.split()))[::-1]

3 6 2 8 1 7

[7, 1, 8, 2, 6, 3]

# 34번

In [152]:
# sort 확인
# 키가 주어지면 순서대로 제대로 섰는지 확인하는 프로그램

# 35번 ** 중요 **

In [154]:
# 2제곱, 3제곱, 4제곱을 할 수 있는 Factory 함수
def one(n):
    def two(value):
        return value**n
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [160]:
# id, name, email이 각각 3번씩 반복
# 이러한 현상을 보일러 플레이트(boiler-plate)라 함
# print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

    def __repr__(self):
        return (f'{self.__class__.__qualname__}{self.id, self.name, self.email}')

user = User(123, 'hojun', 'hojun@gmail')
user

User(123, 'hojun', 'hojun@gmail')

In [162]:
from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

User(id=123, name='hojun', email='hojun@gmail')

In [191]:
# 객체지향 프로그래밍 예제
class Book:
    def __init__(self, title, content, author, pub_date):
        self.title = title
        self.content = content
        self.author = author
        self.pub_date = pub_date

    def calculate_date(self):
         self.pub_date - self.current_date

In [ ]:
# 1. 함수를 변수에 할당할 수 있습니다.
# 2. 함수를 데이터 구조에 저장할 수 있습니다.
# 3. 함수를 인자로 다른 함수에 전달할 수 있습니다.
# 4. 함수를 결과로서 반환할 수 있습니다.

# 36번

In [157]:
n = 2
for i in range(1, 10):
    print(n*i, end=' ')

2 4 6 8 10 12 14 16 18

# 37번

In [158]:
# 입력 : 원범 원범 혜원 혜원 혜원 혜원 유진 유진
# 출력 : 혜원(이)가 총 4표로 반장이 되었습니다.